.btn{
    display: flex;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    border: 0;
    border-radius: 9999px;
    font-weight: 800;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity .3s ease;
    margin-top: 1rem;
}

.btn:hover{
    opacity: .7;
}

.btn > svg {
    margin-right: 8px;
}