.header {
  background: #ffffffaa;
  backdrop-filter: blur(5px);
  position: sticky;
  height: 49px;
  top: 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  width: 100%;
}

.header h2 {
  font-size: 21px;
  font-weight: 800;
  padding-left: 15px;
}

.section {
  flex: 1;
}

.nav {
  background: #fff;
  position: fixed;
  height: 49px;
  bottom: 0;
  border-top: 1px solid #eee;
  width: 100%;
  display: flex;
}

.nav a {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.nav a:hover {
  background: radial-gradient(#0099ff22 15%, transparent 16%);
  background-size: 180px 180px;
  background-position: center;
}

.nav a:hover > :global(svg) {
  stroke: var(--primary);
}

@media (min-width: 520px) {
  .nav,
  .header {
    width: 520px;
  }
}
